@charset "UTF-8";
header p {
  color: white;
  font-size: 80px;
  text-align: center;
  margin: 0;
  padding: 3%; }

.gradiente {
  background-image: linear-gradient(to left, red, yellow); }

* {
  margin: 0; }

ul a li {
  margin-left: auto;
  list-style-type: none;
  color: white; }

div {
  font-style: italic;
  text-align: center;
  font-family: 'Brygada 1918', serif; }

header p {
  background-image: url(https://fondosmil.com/fondo/72691.jpg); }

.texto-centrado {
  text-align: center; }

body {
  background-color: brown;
  width: 2000px;
  padding: 20px;
  font-size: large;
  border: 1px; }

main {
  font-style: italic;
  font-family: 'Brygada 1918', serif;
  text-align: center; }

h1 {
  width: autopx;
  /* ancho */
  height: autopx;
  /* alto */
  margin: 0;
  padding: 3%;
  text-align: center; }

h2 {
  width: autopx;
  /* ancho */
  height: autopx;
  /* alto */
  margin: 0;
  padding: 3%;
  text-align: center; }

h3 {
  width: autopx;
  /* ancho */
  height: autopx;
  /* alto */
  margin: 0;
  padding: 3%;
  text-align: center; }

h4 {
  width: autopx;
  /* ancho */
  height: autopx;
  /* alto */
  margin: 0;
  padding: 3%;
  text-align: center; }

h5 {
  width: autopx;
  /* ancho */
  height: autopx;
  /* alto */
  margin: 0;
  padding: 3%;
  text-align: center; }

.tamaño-letra {
  font-size: 30px; }

main {
  height: 100px;
  top: 40px;
  left: 40px; }

.interlineado {
  line-height: 1.6; }

.interlineado2 {
  line-height: 2.5; }

/* INICIO */
#grilla {
  width: auto;
  height: auto;
  background-color: brown e;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "header " "lista" "main " "footer";
  grid-column-gap: auto;
  grid-row-gap: auto; }

#header {
  grid-area: header;
  width: auto;
  /* ancho */
  height: auto;
  /* alto */ }

#main {
  grid-area: main;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "derecholaboral derechocivil derechopenal" "derecholaboral derechocivil derechopenal" "derecholaboral derechocivil derechopenal";
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  justify-items: center;
  align-items: start;
  align-content: stretch; }

#footer {
  grid-area: footer; }

#derechocivil {
  grid-area: derechocivil; }

#derechopenal {
  grid-area: derechopenal; }

#derecholaboral {
  grid-area: derecholaboral; }

#lista {
  grid-area: ul; }

/* DERECHO LABORAL */
#grilladerecholaboral {
  width: auto;
  height: auto;
  background-color: brown e;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "headerl" "divconsulta" "tituloderecholaboral" "despidos" "suspensiones" "trabajoennegro" "acososexual";
  grid-column-gap: auto;
  grid-row-gap: auto; }

#headearderecholaboral {
  grid-area: headerl;
  width: auto;
  /* ancho */
  height: auto;
  /* alto */ }

#divconsulta {
  grid-area: divconsulta;
  width: auto;
  height: auto; }

#tituloderecholaboral {
  grid-area: tituloderecholaboral;
  width: auto;
  height: auto; }

#despidos {
  grid-area: despidos;
  width: auto;
  height: auto; }

#suspensiones {
  grid-area: suspensiones;
  width: auto;
  height: auto;
  /* background-color: aquamarine; */ }

#trabajoennegro {
  grid-area: trabajoennegro;
  width: auto;
  height: auto;
  /* background-color: rgb(21, 255, 0); */ }

#acososexual {
  grid-area: acososexual;
  width: auto;
  height: auto;
  /* background-color: rgb(207, 196, 255); */ }

/* DERECHO CIVIL */
#grillacivil {
  width: auto;
  height: auto;
  background-color: brown e;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "headercivil" "consultacivil" "titulocivil" "parrafo1";
  grid-column-gap: auto;
  grid-row-gap: auto; }

#headercivil {
  grid-area: headercivil;
  width: auto;
  height: auto; }

#consultacivil {
  grid-area: consultacivil;
  width: auto;
  height: auto; }

#titulocivil {
  grid-area: titulocivil;
  width: auto;
  height: auto; }

#parrafo1 {
  grid-area: parrafo1;
  width: auto;
  height: auto; }

/* DERECHO PENAL */
#grillapenal {
  width: auto;
  height: auto;
  background-color: brown e;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "headerpenañ" "consultapenal" "delitossexuales" "delitoscontralaspersonas" "violenciadomestica" "extradiciones";
  grid-column-gap: auto;
  grid-row-gap: auto; }

#headerpenal {
  width: auto;
  height: auto; }

#consultapenal {
  width: auto;
  height: auto; }

#delitossexuales {
  width: auto;
  height: auto; }

#delitoscontralaspersonas {
  width: auto;
  height: auto; }

#violenciadomestica {
  width: auto;
  height: auto; }

#extradiciones {
  width: auto;
  height: auto; }

/* CONTACTO */
#grillacontacto {
  width: auto;
  height: auto;
  background-color: brown e;
  display: grid;
  grid-template: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "headercivil" "maincontacto";
  grid-column-gap: 50px;
  grid-row-gap: 50px; }

#headercivil {
  grid-area: headercivil;
  width: auto;
  height: auto; }

#maincontacto {
  grid-area: maincontacto;
  width: auto;
  height: auto; }

#header {
  grid-area: header;
  width: auto;
  display: grid;
  /* justify-items: center; */
  /* justify-items: start; */
  grid-template-rows: 0.5fr;
  /* grid-template-columns: 1fr; */
  grid-template-areas: "header" "lista"; }

#main {
  grid-area: main;
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "derecholaboral " "derechocivil " "derechopenal";
  /* grid-column-gap: auto ;
                               grid-row-gap: auto; */
  justify-items: center; }

#lista {
  margin-left: 10px; }
