// @mixin sizes($width, $height) {
//     height: $height;
//     width: $width;
//    }
   
   @mixin reseteo-lista 
    {
     list-style-type: none;
     margin-left: auto ;
     color:white;
    }